@import url(./styles/form.css);
@import url(./styles/prompt-dialog.css);
@import url(./styles/star.css);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --prompt-bg: #f0f0f0;
    --primary-color: #090909;
    --secondary-color: #F3EFE0;
    --third-color: #7FEFBD;
    --fourth-color: #CBA135;
}

body {
    background-color: var(--prompt-bg);
    color: var(--primary-color);
    line-height: 1.6;
}

body > * { margin-inline: auto; }

.sr-only {
	border: 0 !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

.header {
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px 0;
}

.section-form { text-align: center; }
.section-form > * { padding: 10px 0; }